#image {
  width:570px;
  height:350px;
  top-margin: 20px;
}
#main {
  background-color: #ff0000;
}
#bigimage {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
